# Ignore .vious code directory
.vious code/

# Ignore virtual environment directory
venv/
/.vscode/
# Ignore local model directory
/my_local_models/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd